body {
	font: 15px 'Montserrat', sans-serif; 
	color: #00f;
}

#body-margin {
  padding: 0;
}

a, a:visited {
	color: #00f;
	text-decoration: none;
}

a:hover {
	font-weight: 800;
}

.new_post {
  border: solid 0px #f00;
  overflow: hidden;
  display: flex;
}

.new_post img {
  width: 100%;
  border: solid 3px #ff0;
}

.new_post_first {
  width: 70%;
  flex: 7;
}

#new_post_excerpt {
  max-width: 640px;
  overflow: auto;
}

#new_post_excerpt .more {
  float: right;
  display: inline-block;
}

#new_footer {
  border-top: solid 3px #ff0;
  display: flex;
}

#new_footer > div {
  flex: 1;
}

#new_contact {
  color: #f0f;
}

#new_contact > span {
  display: inline-block;
  float: right;
}

#new_footer_dots {
  padding-top: 20px;
}

#new_footer_dots img {
  height: 100px;
}

#new_go_to_map, #new_go_to_insta {
  margin-left: 20px;
  flex: 3;
  color: #f0f;
  text-align: left;
  font-size: 23px;
  font-weight: 800;
  align-self: center;
  /*  TODO 09.19 */
  padding-bottom: 200px;
  padding-right: 20px;
}

#new_go_to_insta {
  transform: rotate(-90.0deg);
}

#new_go_to_map span {
  display: block;
  float: right;
}

/*  OLD */

#main-page {
	background-color: white;
	margin: auto;
	padding: 0;
  min-width: 930px;
  max-width: 1120px;
}
#main-headerimg {
	border: solid 0px black;
	height: 100px;
	margin: 0 auto 10px;
	text-align: center;
}
#main-headerimg img {
	height: 100%;
}
#main-menu {
	border: solid 0px black;
	text-align: center;
  margin-bottom: 5px;
}
#main-menu ul {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-size: inherit;
  height: 1.5em;
  overflow: hidden;
}
#main-menu li {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.1ch;
}

#nav-toggle:hover {
  font-size: 17px;
}

#nav-toggle::after {
  font-size: 17px;
  overflow: hidden;
}

#main-menu li a::after {
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  display: block;
/*  visibility: hidden;*/
}
#main-menu li a::hover {
  font-weight: 800;
}
#main-content {
	border: solid 0px red;
	/*
   * needed for map? TODO: 09.19
  overflow: visible;
  min-height: 600px;
  */
}
#map {
	border: solid 2px #00f;
  height: 600px;
  min-height: 600px;
	margin: 0 auto;
	float: left;
	position: relative;
}
#main-mc {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 0, 255, 0.3);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
#main-post-container {
	border: solid 2px #ffff00;
	overflow: auto;
	min-height: inherit;
  height: 600px;
}

#main-post {
	min-height: inherit;
	width: 100%;
	border: none;
}

div.circle {
    background: #00f;
    border-color: #00f;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
		z-index: 15;
}

#content {
	overflow: visible;
	border: solid 0px red;
	min-height: 600px;
	height: 600px;
  padding: 0 20px;
}

.post-header {
	font-weight: 800;
	line-height: 160%;
}
.post-title {
  margin-bottom: 32px;
}

.post-content p {
	line-height: 160%;
}

.full {
/*  width: 1000px;*/
	padding: 0 20px 20px;
}

.full h1 {
	font-weight: 400;
}

.hidden {
  display: none;
	width: 0%;
}

.fullVis {
  width: 99%;
  display: block;
}

.right {
  float: right;
}

.fullscreen,
.fotorama--fullscreen,
.fotorama--fullscreen .fotorama__stage,
.fotorama--fullscreen .fotorama__nav,
.fotorama-overlay {
  background-color: #f5f2ed;
}

.thumbs > .fotorama {
  overflow: visible;
}

/* style thumbs a bit */
.thumbs a {
  text-decoration: none;
  display: inline !important;
  color: #34457b;
}
.thumbs a:hover {
  color: #af1d05;
}
.thumbs a.switch {
  border-bottom: 1px dashed;
}
.thumbs img {
  width: auto;
  border: 2px #fff solid;
  margin-left: -2px;
  max-height: 100px;
  max-width: 100px;
  vertical-align: top;
}

.thumbs a:hover img {
  border-color: #f0f;
}

/* straight “close” icon instead of “cancel fullscreen” */
.fotorama--fullscreen .fotorama__fullscreen-icon {
  background-position: -64px 0;
}

.gallery {
}
.thumbs {
  height: 100px;
  display: inline-block;
}
#moving_strip {
  position: relative;
  left: 0;
}
#moving_strip img {
  display: inline-block;
}
.strip {
  width: 550px;  
  overflow: hidden;
  display: inline-block;
  clear: none;
  white-space: nowrap;
}
.nav {
  display: inline-block;
  clear: none;
  font-weight: 800;
  vertical-align: top;
}
.nav a, .nav a:visited, .nav a:hover {
 color: #f0f;
 display: inline-block;
 line-height: 100px;
}
.nav::after {
  content: '>';
  font-weight: bold;
  height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden;
}

.fotorama__thumb-border {
  border-color: #f0f;
}

/*  TMP
#main-page {
  border: solid 1px #F00;
}

#main-header {
  border: solid 1px #0F0;
}

#main-content {
  border: solid 1px #00F;
}
*/
