<div id="new_footer">
		<div id="new_footer_dots">
				<img src="/img/mb_full.png" />
		</div>
		<div id="new_contact">
      <a id="kontakt"></a>
				<span>
          <h2>napisz do nas! <a href="mailto:mb@outoftheblue.pl">mb@outoftheblue.pl</a></h2>
            <a href="https://instagram.com/malgosia_and_bartek" target="_blank" >obserwuj nas na Instagramie</a><br/><br/>
						zaprojektowała Małgosia<br/>
						zaprogramował Bartek<br/><br />
						&#x00A9; Małgosia&Bartek 2019
				</span>
		</div>
</div>
