<div id="new_footer">
		<div id="new_footer_dots">
			<img src="/{{page.prefix}}/img/mb_full.png" />
		</div>
		<div id="new_contact">
      <a id="kontakt"></a>
				<span>
          <h2>napisz&nbsp;do&nbsp;nas! <a href="mailto:mb@outoftheblue.pl">mb@outoftheblue.pl</a></h2>
            <a href="https://instagram.com/malgosia_and_bartek" target="_blank" >obserwuj&nbsp;nas&nbsp;na&nbsp;Instagramie</a><br/><br/>
						zaprojektowała&nbsp;Małgosia<br/>
						zaprogramował&nbsp;Bartek<br/><br />
						&#x00A9;&nbsp;Małgosia&amp;Bartek&nbsp;2019
				</span>
		</div>
</div>
